[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "public"]
	path = public
	url = https://github.com/Tyrian-Misfits/tyrian-misfits.github.io.git
	branch = master
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
