dt {
    font-weight: bolder;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

#card table {
    border: 1px solid black;
    border-collapse: collapse;
}

#card tr {
    max-height: 1in;
}

#card td, #card th {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
    overflow: auto;
}

#card th {
    font-size: xx-large;
}

div.lastmod {
    text-align: right;
    font-size: smaller;
    font-style: italic;
}